.container {
    width: 1000px;
    width: auto;
    max-width: 1000px;
    height: 200px;
    margin: 50px auto;
    overflow-x: scroll;
    background-color: #ffe964;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #9ad8f1, 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.img-container {
    display: flex;
    flex-direction: row;
    width: min-content;
}

img {
    width: 200px;
    height: 180px;
    box-shadow: 0 0 15px #6c5d00;
    margin: 0 20px;
}

::-webkit-scrollbar-track {
	background-color: #fff; /*Цвет скролла*/
} 
::-webkit-scrollbar-thumb { 
	border-radius: 5px; /*Закругление ползунка*/
	background-color: #ccc; /*Цвет ползунка*/
} 
::-webkit-scrollbar { 
	width: 6px;  /*Толщина скролла*/
}
